%app-store-badge--base {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 180px;
  margin-bottom: $gutters;
  span.ext {
     @include visuallyhidden;
  }
}

.app-store-badge {
  &--microsoft {
    @extend %app-store-badge--base;
    height: 66px;
    background-image: url("../assets/img/app-store-badge-microsoft.svg");
  }
  &--apple {
    @extend %app-store-badge--base;
    height: 61px;
    background-image: url("../assets/img/app-store-badge-apple.svg");
  }
  &--google {
    @extend %app-store-badge--base;
    height: 54px;
    background-image: url("../assets/img/app-store-badge-google.svg");
  }
}