%app-store-badge--base {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 180px;
  margin-bottom: $gutters;
  span.ext {
     @include visuallyhidden;
  }
}

.app-store-badge {
  &--microsoft {
    @extend %app-store-badge--base;
    height: 54px;
    width: auto;
    background-image: url("../assets/img/app-store-badge-microsoft.svg");
    background-position: center;

    .ext{
      display: none;
    }
  }
  &--apple {
    @extend %app-store-badge--base;
    height: 51px;
    width: auto;
    background-image: url("../assets/img/app-store-badge-apple.svg");
    background-position: center;

     .ext{
      display: none;
    }
  }
  &--google {
    @extend %app-store-badge--base;
    height: 45px;
    width: auto;
    background-image: url("../assets/img/app-store-badge-google.svg");
    background-position: center;

     .ext{
      display: none;
    }
  }
}