.heading-link{
  font-weight: $weight-bold;
  //@include hover-link;
  //@include link-colors($action-color-hover, $action-color-hover, $action-color-hover, $action-color-hover, $action-color-hover);
}

.text-menu { 
  .menu {
    @include menu;
    display: flex;
    line-height: 1.3;
    .menu-item {
      font-size: 1.4rem;
      &:after {
        content: "";
        border-right: 1px solid $light-gray;
        margin: 0 12px;
        @include breakpoint($max-width-fullsize) {
          margin: 0 8px;
        }
      }
      &:last-child:after {
        display: none;
      }
      a{
        text-decoration: none;
        color: $blue;
        &:hover{
          color:$red;
        }
      }     
    }
  }
}