.list--comma-seperated {
  .field__items {
    padding-right: 0;
    margin: 0;
    float: none;
    .field__item {
      list-style: none;
      display: inline;
      &:after {
        content: ", ";
      }
      &:last-child:after {
        content: "";
      }
    }
  }
}


ul.list--bulletless {
  margin: 0;
  li {
    list-style: none;
  }
}


.horizontal-list {
  @include breakpoint($max-width-tablet-landscape) {
    display: flex;
  }
  &__item {
    width: 100%;
    border-bottom: 1px solid $light-gray;
    padding: $gutters 0 math.div($gutters, 2);
    @include breakpoint($max-width-tablet-landscape) {
      border-bottom-width: 0px;
      border-right: 1px solid $light-gray;
      padding: 0 $gutters*1.5;
      &:first-child {
        padding-left: 0;
      }
    }
    &:last-child {
      border-bottom: 0;
      border-right: 0;
      padding-right: 0;
    }
  }
  &__title {
    font-weight: normal;
    font-size: 1.8rem;
    margin-top: 0;
    @include breakpoint($max-width-tablet-landscape) {
      margin-top: $gutters;
    }
  }
}


