<p>SAMHSA's mission is to lead public health and service delivery efforts that promote mental health, prevent substance misuse, and provide treatments and supports to foster recovery while ensuring equitable access and better outcomes.</p>

<address>
  5600 Fishers Lane, Rockville, MD 20857<br />
  1-877-SAMHSA-7 (1-877-726-4727)
</address>