.program-title {
  @include heading-underline;
  .path-frontpage & {
    font-size: 3.2rem;
    //@include responsive-font(5.25vw, 24px, 32px);
    @include breakpoint($max-width-tablet-portrait) {
      //@include responsive-font(4vw, 24px, 32px);
    }
  }
  body:not(.path-frontpage) & {
    font-size: 1.75rem;
    // @include fluid-type(font-size, 320px, 600px, 17px, 24px);
    // font-size: 2.4rem;
    //@include responsive-font(5.25vw, 17px, 24px);
    line-height: 1.3;
    font-weight: bold;
    color: $blue-gray;
    margin-bottom: 15px;
  }
}

.region--preface-third {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); 
  &--wrapper {
    background-image: url(../../images/PEP-header-graphic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}