// Search SAMHSA
//==========================================================================
//improvement styles for form mindbreeze module

.search-form-wrapper{
  background-color: $lighter-gray;
  padding: $gutters 0;
  @include breakpoint($max-width-mobile-landscape) {
    padding: 0;
  }
  form{
    display: flex;
    max-width: inherit;
    justify-content: flex-end;
    //align-items: center;
    //padding: 0 $gutters;
    label {
      padding-right: 0.5em;
      @include breakpoint($max-width-mobile-portrait-small) {
        min-width: 110px;
      }
    }
  }
  @include breakpoint($max-width-mobile-landscape) {
    background-color: transparent;
    form {
      margin-bottom: 0;
    }
  }
  .samhsasearchbox, input#q.samhsasearchbox {
    width: inherit;
    flex-basis: 280px;
    appearance: none;
    height: 38px;
    flex-grow: 2;
    border: 1px solid #cdcdcd;
    line-height: 2.2;
    padding: 0 .5em;
    box-sizing: border-box;
    @include breakpoint($max-width-mobile-landscape) {
      max-width: 300px;
    }
  }
  form.use-search-icon {
    padding-right: $gutters + 51px;
    @include breakpoint($max-width-mobile-landscape) {
      padding-right: 51px;
    }
    .samhsasearchbutton {
    top: auto;
    height: 38px;
    right: $gutters;
    @include breakpoint($max-width-mobile-landscape) {
      right: 0;
      top: 0;
    }
    }
  }
}
#search-toggle {
  width: 61px;
  height: 61px;
  left: inherit;
  text-decoration: none;
  font-size: 32px;
  text-align: center;
  svg.search-icon {
    top: 10px;
    fill: #fff;
    width: 30px;
    height: 30px;
  }
}