// Connect with SAMHSA
//==========================================================================

//Vertically aligning everything and adding some space between the items
.header-social ul.social-links-container{
  display: block;
  text-align: right;
  li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 0.25em;
  }
  a{
    text-align: left;
    text-indent: -999em;
  }
}

.block-samhsa-uswds-base-sharebuttons {

  ul.share-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
        display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    list-style-type: none;
    width: 160px;

    @media screen and (max-width:$max-width-mobile-portrait-large) {
      width: auto;
    }

    li {
      margin-left: 5px;
      width: 1.8em;

      a {
        svg {
          font-size: 26px;
          fill: $color-midnight-60;
          height: 28px;

          &:hover {
            fill: $color-sapphite;
          }
        }
      }
    }
  }
}