<div{{ attributes }}>
  <div class="footer-signup">
    <h2 class="footer-title">Sign Up for SAMHSA Email Updates</h2>
    <div class="footer-form--wrapper">
      <div class="signup-text">
          <p>To sign up for updates or to access your subscriber preferences, please enter your contact information.</p>
        </div>
        <div class="signup-form">
          <form action="https://samhsa.us4.list-manage.com/subscribe?u=d0780dc94825e65acd61c17dc&amp;id=ee1c4b138c" method="post" target="_blank"><input name="u" type="hidden" value="d0780dc94825e65acd61c17dc"> <input name="id" type="hidden" value="ee1c4b138c"> <input class="signup-email" id="MERGE0" name="MERGE0" placeholder="Email Address"  type="email" value=""> <input class="button signup-btn" name="submit" type="submit" value="Sign Up">&nbsp;</form>
        </div>
      </div>
  </div>
</div>