<div{{ attributes.addClass('language-assistance') }}>
	<ul>
		<li><a href="/language-assistance-services#spanish" lang="es" xml:lang="es">Español</a></li>
		<li><a href="/language-assistance-services#chinese" lang="zh" xml:lang="zh">繁體中文</a></li>
		<li><a href="/language-assistance-services#vietnamese" lang="vi" xml:lang="vi">Tiếng Việt</a></li>
		<li><a href="/language-assistance-services#korean" lang="ko" xml:lang="ko">한국어</a></li>
	</ul>

	<ul>
		<li><a href="/language-assistance-services#tagalog" lang="tl" xml:lang="tl">Tagalog</a></li>
		<li><a href="/language-assistance-services#russian" lang="ru" xml:lang="ru">Русский</a></li>
		<li><a dir="rtl" href="/language-assistance-services#arabic" lang="ar" xml:lang="ar">العربية</a></li>
		<li><a href="/language-assistance-services#creole" lang="sg" xml:lang="sg">Kreyòl Ayisyen</a></li>
	</ul>

	<ul>
		<li><a href="/language-assistance-services#french" lang="fr" xml:lang="fr">Français</a></li>
		<li><a href="/language-assistance-services#polish" lang="pl" xml:lang="pl">Polski</a></li>
		<li><a href="/language-assistance-services#portuguese" lang="pt" xml:lang="pt">Português</a></li>
		<li><a href="/language-assistance-services#italian" lang="it" xml:lang="it">Italiano</a></li>
	</ul>

	<ul>
		<li><a href="/language-assistance-services#german" lang="de" xml:lang="de">Deutsch</a></li>
		<li><a href="/language-assistance-services#japanese" lang="ja" xml:lang="ja">日本語</a></li>
		<li><a dir="rtl" href="/language-assistance-services#farsi" lang="fa" xml:lang="fa">فارسی</a></li>
		<li><a href="/language-assistance-services#english">English</a></li>
	</ul>
</div>
