<p>
  <a href="https://www.whitehouse.gov/"><img alt="The White House" data-entity-type="" data-entity-uuid="" src="{{ image_path }}/logos/white_house.png" class="whitehouse-logo" /></a>
</p>

<p>
  <a href="https://www.hhs.gov/"><img alt="Department of Health and Human Services" data-entity-type="" data-entity-uuid="" src="{{ image_path }}/logos/hhs-logo.svg" class="hhs-logo" /></a>
</p>

<p>
  <a href="https://www.usa.gov/"><img alt="USA.gov" data-entity-type="" data-entity-uuid="" src="{{ image_path }}/logos/usagov.svg" class="usagov-logo" /></a>
</p>

<p>
  <a href="https://www.grants.gov/"><img alt="Grants.gov" data-entity-type="" data-entity-uuid="" src="{{ image_path }}/logos/grants.svg" class="grants-logo" /></a>
</p>