<ul class="social-links-container">
  <li>Connect with SAMHSA:</li>
  <li><a class="sprite social-button button-facebook" href="//www.facebook.com/samhsa"
         onclick="_gaq.push([_trackEvent, 'Top Social Media', 'Click', 'FaceBook']);">Visit the SAMHSA Facebook page</a>
  </li>
  <li><a class="sprite social-button button-twitter" href="//twitter.com/samhsagov"
         onclick="_gaq.push([_trackEvent, 'Top Social Media', 'Click', 'Twitter']);">Visit SAMHSA on Twitter</a></li>
  <li><a class="sprite social-button button-youtube" href="//www.youtube.com/samhsa/"
         onclick="_gaq.push([_trackEvent, 'Top Social Media', 'Click', 'YouTube']);">Visit the SAMHSA YouTube channel</a>
  </li>
  <li><a class="sprite social-button button-blog" href="//blog.samhsa.gov/"
         onclick="_gaq.push([_trackEvent, 'Top Social Media', 'Click', 'Blog']);">Visit the SAMHSA blog</a></li>
</ul>
