<div{{ attributes }}>
	<a href="https://www.samhsa.gov" title="SAMHSA.gov"><img alt="SAMHSA" src="{{ image_path }}/logos/samhsa-logo.svg" class="samhsa-logo-footer" /></a>
	<a href="https://www.hhs.gov" title="HHS.gov"><img alt="HHS" src="{{ image_path }}/logos/hhs-icon.svg" class="hhs-icon" /></a>
</div>
