.path-product {
  //unset base/singularity layout
  .with--sidebar-second.without--sidebar-first,
  .without--sidebar-second.without--sidebar-first {

    .region--sidebar-first,
    .region--sidebar-second,
    .region--content {
      width: auto;
      float: none;
      margin: 0;
      clear: none;
      padding: 0;
    }
  }
  .block-share-buttons-block {
    margin-bottom: $gutters;
    @include breakpoint($max-width-mobile-portrait-large){
      float: right;
      margin-left: $gutters*2;
    }
  }
  .field--name-title {
    overflow: auto;
  }
}

.product-page {
  &--thumb-and-stock {
    &--stock {
      margin-top: $gutters;
      margin-bottom: $gutters;
    }
  }

  &--overview {  
    .field--name-body, .field--name-field-app-features, .field--name-field-external-video {
      margin-bottom: $gutters;
    }
    .field--name-sku,
    .field--name-field-publication-date,
    .field--name-field-last-reviewed,
    .field--name-field-format {
      margin-bottom: math.div($gutters, 2);
    }
  }
  &--main {
    margin-bottom: $gutters*2;
  }
  $thumb-width: 219px;
  $overview-width: $thumb-width+($gutters * 2);

  @include breakpoint($tablet-lg) {
    &--main {
      display: flex;
      .product-page--thumb-and-stock {
        max-width: $thumb-width;
        flex-basis: $thumb-width;
        margin-right: $gutters*2;
      }
      .product-page--overview {
        flex-basis: calc(100% - #{$overview-width});
      }
    }
    &--procurement {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      > * {
        flex-basis: calc(50% - #{$gutters});
      }
    }
    &--related {
      //display: flex;
      //background: #eee;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: ($gutters * 2);
      > * {
        //flex-basis: calc(50% - #{$gutters});
      }
    }
  }

  @include breakpoint($mobile-lg) {
    &--related {
      //background: #eee;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: ($gutters * 2);
    }
  }




@include breakpoint($max-width-tablet-landscape) {
  // @include breakpoint($max-width-mobile-landscape) {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr 276px;
    grid-template-columns: 1fr 276px;
    -ms-grid-rows: min-content min-content 1fr min-content;
    grid-template-rows: min-content min-content 1fr min-content;

    .field--name-field-subtitle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2;
    }
    &--main {
        -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2 / 3;
      .product-page--thumb-and-stock {

      }
      .product-page--overview {

      }
    }
    &--procurement {
      -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
      -ms-grid-row: 2;
      -ms-grid-row-span: 2;
      grid-row: 2 / 4;
      display: block;
      margin-left: $gutters*2;
    }
    &--related {
      //background: $lighter-gray;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 4;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-row: 3 / 4;

      .field {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border-right: 1px solid #ddd;
        margin-right: 18px;
        width: 33%;

        &:last-of-type {
          border-right: none;
        }
      }
    }
    &--related-resources {
      flex-basis: 303px;
      margin-right: $gutters;
    }
    &--related-info {
      //flex-basis: 385px;
      margin-left: $gutters;
      &:first-child {
        margin-left: 0;
      }
    }
    &--may-be-interested {
     -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4 / 5;
    }
  }
}

.field--name-field-may-be-interested-manual {
  .field__items {
    @include breakpoint($tablet) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      .field__item.product-card {
        width: calc(50% - 14px);
        margin-bottom: $gutters*2;
      }
    }
    /*@include breakpoint($desktop) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      .field__item.product-card {
        width: calc(33% - 14px);
        margin-bottom: $gutters*2;
      }
    }*/
  }
}