.product-page {
  .field--name-field-subtitle {
    // font-size: 2.4rem;
    font-size: 2rem;
    font-family: $heading-font-family;
    // font-weight: $weight-bold;
    line-height: $heading-line-height;
    margin: -(math.div($base-spacing, 4)) 0 $base-spacing;
    color: $blue-gray;
    @include breakpoint($max-width-tablet-portrait) {
      margin-top: -$base-spacing;
    }
  }

  &--block {
    border: 1px solid $lighter-gray;
    //margin-bottom: $gutters*2;
    &.product-page--download &--heading {
        background-image: url("../assets/img/icon-download.svg");
        padding-left: $gutters + 20 + $gutters;
    }
    &.product-page--order {
      &--heading {
          background-image: url("../assets/img/icon-shopping-cart.svg");
          padding-left: $gutters + 20 + $gutters;
      }
      
      &--inner {

        padding: $gutters;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap; 

        @include breakpoint ($desktop){
          flex-direction: column;
        }
      }
    }

    &--heading {
      background-color: $lighter-gray;
      font-size: 1.6rem;
      padding: 10px $gutters;
      margin: 0;
      background-repeat: no-repeat;
      background-position: $gutters 10px;
      background-size: 20px 20px;
    }
    &--inner {

        padding: $gutters;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap; 

      @include breakpoint ($desktop){
        padding: $gutters;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; 
      }
    }
  }
  &--order--disclaimer {
     font-size: $font-small;
     margin-top: math.div($gutters, 2);
  }
  &--related-info {
    .field--taxonomy-terms {
      margin-bottom: $gutters;
    }
  }
  &--related-resources {
    .field--type-link {
      @extend %pep8-file-icon;
      background-repeat: no-repeat;
      background-image: url(../assets/img/icon-paperclip.svg);
      background-position: left 3px;
    }
  }
  &--download {
    .file--mime-size {
      &:before, &:after {
        content: "";
      }
      display: block;
      margin-top: math.div($gutters, 2);
    }
    .file {
      // padding-left: 
    }
    .file--size {
      &:before {
        content: "(";
      }
      &:after {
        content: ")";
      }
    }
    .field__item {
      margin-bottom: $gutters;
    }
  }
  &--overview {

  }
  &--thumb-and-stock {
    &--stock {
      font-size: 1.8rem;
    }
  }
}

.commerce-order-item-add-to-cart-form {
  display: flex;
  align-items: flex-end;
  margin: 0 0 $gutters;
  .button--add-to-cart {
    margin-bottom: 0;
  }
  label[for="edit-quantity-0-value"] {
    font-weight: normal;
    font-size: 1.6rem;
  }
  .form-item-quantity-0-value {
    margin-top: 0;
  }
}
.path-product {
  @include breakpoint($max-width-tablet-portrait) {
    #block-omega-samhsa-pep-page-title h1 {
      margin-bottom: 4rem;
    }
  }
}
.field--name-field-may-be-interested-manual {
  .field__items {
    max-width: $max-width-fullsize;
    .product-card {
      border-top: 1px solid $light-gray;
      padding-top: 1.5em;
      margin-bottom: 2rem;
      @include breakpoint($max-width-mobile-landscape) {
        border-top: 0;
      }
      &:first-child {
        border-top: none;
        // padding-top: 0;
      }
    }
  }
}

//IE10+ Only
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .field--name-field-thumbnail .product-image--wrapper img {
      max-height: 218px;
      max-width: 170px;
  }
}