// Postscript - layout will change in the new theme
//==========================================================================
#postscript-outer-wrapper{
  background-color: $lighter-gray;
  color: $dark-gray;
  padding: 30px 35px 20px;
}


