// Max widths for wrapper around everything
//============================================================

#page-wrapper{
  margin: 0 auto;  
  @include breakpoint ($mobile-lg){
    width: $max-width-mobile-portrait-plus;
  }
  @include breakpoint ($tablet){
    width: $max-width-mobile-portrait-large;
  }
  @include breakpoint ($tablet-lg){
    width: $max-width-mobile-landscape;
  }
  @include breakpoint ($desktop){
    width: $max-width-tablet-portrait;
  }
  @include breakpoint ($desktop-lg){
    width: $max-width-tablet-landscape;
  }
  @include breakpoint ($widescreen){
    width: $max-width-fullsize;
  }
}