#omega-screen--indicator{display: none !important;}

//TS - grid-span mixins are not present. Could this be because Susy grid is not imported? Note for later.
// Main content container
//--------------------------------------------------------------
#main-layout{
  padding: $gutters;
  background-color: $second-background-color;
}

// Content Columns
//==========================================================================

@include breakpoint ($break-mobile-landscape){
  .region--content{
    //@include grid-span(12, 1);
  }
  
  //Only sidebar first
  //-------------------------------
  .with--sidebar-first.without--sidebar-second{   
    .region--content{
      //@include grid-span(9, 4);
    }
    .region--sidebar-first{
      //@include grid-span(3, 1);
    }
  }

  //Only sidebar second
  //-------------------------------
  .with--sidebar-second.without--sidebar-first{
    .region--content{
      //@include grid-span(8, 1);
    }
    .region--sidebar-second{
      //@include grid-span(4, 9);
    }
  }

  //both sidebars (second sidebar is pushed under at small sizes)
  //-------------------------------
  .with--sidebar-first.with--sidebar-second{
    .region--content{
      //@include grid-span(9, 4);
    }
    .region--sidebar-first{
      //@include grid-span(3, 1);
    }
    .region--sidebar-second{
      //@include grid-span(9, 4);
      clear: both;
    }
  }
}

//Go to 3 cols with both sidebars
//-------------------------------
@include breakpoint ($break-tablet-landscape){  
  .with--sidebar-first.with--sidebar-second{ 
    .region--content{
      //@include grid-span(5, 4);
      //@include grid-span(6, 4);
    }   
    .region--sidebar-first{
      //@include grid-span(3, 1);
    }
    .region--sidebar-second{
      //@include grid-span(4, 9);
      //@include grid-span(3, 10);
    }
  }
}