{#
/**
 * @file samhsa_term_elevation.html.twig
 * Default theme implementation to present SAHMSA Term Elevation data.
 *
 * This template is used when viewing SAHMSA Term Elevation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_samhsa_term_elevation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('samhsa_term_elevation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
