<div{{ attributes.addClass('language-assistance') }}>

	<ul class="lang">
		<li><a lang="es" href="//www.samhsa.gov/language-assistance-services#spanish" xml:lang="es">Español</a></li>
		<li><a lang="zh" href="//www.samhsa.gov/language-assistance-services#chinese" xml:lang="zh">繁體中文</a></li>
		<li><a lang="vi" href="//www.samhsa.gov/language-assistance-services#vietnamese" xml:lang="vi">Tiếng Việt</a></li>
		<li><a lang="ko" href="//www.samhsa.gov/language-assistance-services#korean" xml:lang="ko">한국어</a></li>
		<li><a lang="tl" href="//www.samhsa.gov/language-assistance-services#tagalog" xml:lang="tl">Tagalog</a></li>
		<li><a lang="ru" href="//www.samhsa.gov/language-assistance-services#russian" xml:lang="ru">Русский</a></li>
		<li><a lang="ar" href="//www.samhsa.gov/language-assistance-services#arabic" xml:lang="ar">العربية</a></li>
		<li><a lang="sg" href="//www.samhsa.gov/language-assistance-services#creole" xml:lang="sg">Kreyòl Ayisyen</a></li>
		<li><a lang="fr" href="//www.samhsa.gov/language-assistance-services#french" xml:lang="fr">Français</a></li>
		<li><a lang="pl" href="//www.samhsa.gov/language-assistance-services#polish" xml:lang="pl">Polski</a></li>
		<li><a lang="pt" href="//www.samhsa.gov/language-assistance-services#portuguese" xml:lang="pt">Português</a></li>
		<li><a lang="it" href="//www.samhsa.gov/language-assistance-services#italian" xml:lang="it">Italiano</a></li>
		<li><a lang="de" href="//www.samhsa.gov/language-assistance-services#german" xml:lang="de">Deutsch</a></li>
		<li><a lang="ja" href="//www.samhsa.gov/language-assistance-services#japanese" xml:lang="ja">日本語</a></li>
		<li><a lang="fa" href="//www.samhsa.gov/language-assistance-services#farsi" xml:lang="fa">فارسی</a></li>
		<li><a lang="en" href="//www.samhsa.gov/language-assistance-services#english" xml:lang="en">English</a></li>
	</ul>

</div>
