// Max widths for wrapper around everything
//============================================================

#page-wrapper{
  margin: 0 auto;  
  @include breakpoint ($break-mobile-landscape){
    width: $max-width-mobile-landscape;
  }
  @include breakpoint ($break-tablet-portrait){
    width: $max-width-tablet-portrait;
  }
  @include breakpoint ($break-tablet-landscape){
    width: $max-width-tablet-landscape;
  }
  @include breakpoint ($break-fullsize){
    width: $max-width-fullsize;
  }
}