// Footer Address Block
//=========================================

.footer-address address{
  font-style: normal;
  margin-top: 1em;
}

#block-footer-address {
  @include breakpoint(0 $tablet) {
    width: 50%;
    float: left;
} 
}