
//Footer Logos
.footer-logo{
  margin-top: 20px;
  @include breakpoint ($break-mobile-landscape){
    text-align: right;
  }
  .logos{
    display:inline-block;
    margin-right: 10px;
    &.samhsa{
      width: 160px;
      height: 68px;
    }
    &.hhs{  
      width: 68px;
      height: 68px;
      @include breakpoint(0 $tablet) {
        float: right;
      } 
    }
  }
  .samhsa-logo, 
  .hhs-logo {
    fill: #fff;  
  }
  span.ext{
    display: none;
  } 
}

#block-footer-logo {
  @include breakpoint(0 $tablet) {
    width: 40%;
    float: right;
    margin-top: 0;
  } 
}