<div class="social">
  <p>
    <a class="facebook" href="https://www.facebook.com/samhsa" target="_blank" title="Facebook">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
      <path fill="#fff" d="M10.612 5.099h2.096V2.583h-2.096a2.939 2.939 0 0 0-2.935 2.935v1.258H6v2.516h1.677V16h2.516V9.292h2.096l.419-2.516h-2.516V5.518a.426.426 0 0 1 .42-.419z"></path>
      </svg>
      <span class="visually-hidden">Visit the SAMHSA Facebook page</span>
    </a>

    <a class="twitter" href="https://twitter.com/samhsagov" target="_blank" title="Twitter">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
      <path fill="#fff" d="M14.002 4.879c-.41.183-.852.306-1.314.36a2.298 2.298 0 0 0 1.007-1.267 4.603 4.603 0 0 1-1.454.556 2.29 2.29 0 0 0-1.672-.721 2.289 2.289 0 0 0-2.23 2.81 6.503 6.503 0 0 1-4.72-2.393 2.286 2.286 0 0 0-.309 1.15c0 .794.403 1.496 1.018 1.905a2.31 2.31 0 0 1-1.039-.285v.029c0 1.11.789 2.036 1.837 2.245a2.298 2.298 0 0 1-1.035.04 2.296 2.296 0 0 0 2.139 1.591 4.591 4.591 0 0 1-3.392.948 6.475 6.475 0 0 0 3.512 1.029c4.211 0 6.516-3.49 6.516-6.516 0-.1-.002-.198-.006-.296a4.63 4.63 0 0 0 1.142-1.185z"></path>
      </svg>
      <span class="visually-hidden">Visit SAMHSA on Twitter</span>
    </a>

    <a class="youtube" href="https://www.youtube.com/samhsa/" target="_blank" title="Youtube">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
      <path fill="#FFF" d="M14.02 5.227s-.119-.843-.487-1.213c-.465-.487-.986-.49-1.225-.518-1.709-.125-4.276-.125-4.276-.125h-.004s-2.566 0-4.276.125c-.24.03-.76.032-1.226.519-.368.37-.484 1.213-.484 1.213s-.121.989-.121 1.98v.927c0 .989.121 1.98.121 1.98s.119.843.484 1.213c.465.487 1.077.471 1.349.523.979.093 4.157.121 4.157.121s2.569-.005 4.279-.127c.239-.028.759-.031 1.225-.518.368-.37.487-1.213.487-1.213s.121-.989.121-1.98v-.928a18.526 18.526 0 0 0-.124-1.979zm-7.254 4.03V5.821l3.302 1.724-3.302 1.712z"></path>
      </svg>
      <span class="visually-hidden">Visit the SAMHSA YouTube channel</span>
    </a>
  </p>
  <p>
    <a class="linkedin" href="https://www.linkedin.com/company/substance-abuse-and-mental-health-services-administration/" target="_blank" title="LinkedIn">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -4 33 33">
        <path fill="#FFF" d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"></path></svg>
      <span class="visually-hidden">Visit SAMHSA on LinkedIn</span>
    </a>

    <a class="rss" href="https://www.samhsa.gov/rss" target="_blank" title="RSS">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -4 33 33">
        <path fill="#FFF" d="M6.503 20.752c0 1.794-1.456 3.248-3.251 3.248-1.796 0-3.252-1.454-3.252-3.248 0-1.794 1.456-3.248 3.252-3.248 1.795.001 3.251 1.454 3.251 3.248zm-6.503-12.572v4.811c6.05.062 10.96 4.966 11.022 11.009h4.817c-.062-8.71-7.118-15.758-15.839-15.82zm0-3.368c10.58.046 19.152 8.594 19.183 19.188h4.817c-.03-13.231-10.755-23.954-24-24v4.812z"></path></svg>
      <span class="visually-hidden">SAMHSA RSS</span>
    </a>

    <a class="blog" href="https://blog.samhsa.gov/" target="_blank" title="SAMHSA's Blog">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.667 66.667">
      <path fill="#FFF" d="M33.752 8.904c-11.183 0-20.248 6.489-20.248 14.493 0 3.77 2.012 7.205 5.309 9.783l-3.68 8.056 10.515-4.554c2.482.776 5.222 1.208 8.103 1.208C44.935 37.89 54 31.401 54 23.396S44.935 8.904 33.752 8.904zm-8.224 16.705a1.9 1.9 0 1 1-.001-3.801h.002a1.9 1.9 0 0 1-.001 3.801zm8.192.008a1.9 1.9 0 1 1-.001-3.801h.002a1.9 1.9 0 0 1-.001 3.801zm8.204 0a1.9 1.9 0 1 1-.001-3.801h.002a1.9 1.9 0 0 1-.001 3.801zM13.366 47.536c.709-.142 1.83-.249 2.968-.249 1.624 0 2.669.267 3.453.871.653.462 1.045 1.172 1.045 2.114 0 1.154-.802 2.167-2.128 2.629v.036c1.195.284 2.595 1.226 2.595 3.003 0 1.031-.429 1.813-1.064 2.398-.878.764-2.295 1.119-4.349 1.119a19.96 19.96 0 0 1-2.52-.142V47.536zm1.624 4.904h1.474c1.717 0 2.725-.853 2.725-2.008 0-1.403-1.12-1.954-2.763-1.954-.747 0-1.176.053-1.437.107l.001 3.855zm0 5.739c.317.054.784.071 1.362.071 1.68 0 3.23-.587 3.23-2.328 0-1.634-1.474-2.31-3.247-2.31H14.99v4.567zm8.006-10.803h1.546v10.678h5.117v1.297h-6.663V47.376zm17.88 5.863c0 4.122-2.49 6.308-5.528 6.308-3.144 0-5.351-2.452-5.351-6.077 0-3.803 2.349-6.29 5.528-6.29 3.25.001 5.351 2.507 5.351 6.059zm-9.235.196c0 2.559 1.377 4.851 3.797 4.851 2.437 0 3.814-2.257 3.814-4.975 0-2.38-1.236-4.868-3.797-4.868-2.544 0-3.814 2.362-3.814 4.992zm20.643 5.384c-.693.249-2.061.657-3.678.657-1.813 0-3.305-.462-4.478-1.582-1.031-.995-1.67-2.594-1.67-4.46.018-3.572 2.47-6.183 6.485-6.183 1.385 0 2.47.302 2.985.551l-.373 1.262c-.639-.284-1.439-.515-2.647-.515-2.914 0-4.815 1.813-4.815 4.815 0 3.038 1.83 4.833 4.619 4.833 1.013 0 1.706-.142 2.061-.32v-3.572h-2.434v-1.244h3.944v5.758h.001z"></path>
      </svg>
      <span class="visually-hidden">SAMHSA Blog</span>
    </a>
  </p>
 </div>
