<div {{ attributes.addClass('share-buttons') }}>
    {# <!-- AddThis Button BEGIN --> #}
    <a class="addthis-button addthis_button" href="//www.addthis.com/bookmark.php?v=300&amp;pubid=ra-51bf394976d1e084"><span class="addthis-button--inner">Share</span><span class="visuallyhidden"> this product</span></a> 
    {# <!-- AddThis Button END --> #}
</div>