// Logo
//============================================================

.region-header{
  background-color: $blue-gray;
  @include breakpoint ($break-mobile-landscape){
    background-color: transparent; 
  }
}
.site-branding{
  max-width: 190px;
  margin: 0 auto;
  padding-top: 10px; 
  text-align: center;
  .samhsa-logo {
    fill: $white;
    width: 118px;
    height: 46px
  }
  @include breakpoint ($break-mobile-landscape){
    margin: 0;
    max-width: 100%;
    padding: 10px 0 10px;
    text-align: left;
    .samhsa-logo {
      fill: $blue-gray;
      width: 250px;
      height: 85px
    } 
  }
}